<nav id="primary_nav_wrap">
    <ul>
        <li class="current-menu-item"><a href="/">Home</a></li>
        <%- login %>
        <li><a href="/menu">Content</a>
            <%- list %>
        </li>
        <li><a href="/board/1">Board</a></li>
        <li><a href="#">Menu 5</a></li>
        <li><a href="#">Menu 6</a></li>
        <li><a href="/boots">Contact Us</a></li>
    </ul>
</nav>