<!DOCTYPE html>
<html>

<head>
    <%- include('part/header.ejs')  %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/drop_menu.css' />
</head>

<body>
    <div id="container">
        <%- include('part/list.ejs') %>
        <div id="main">
            <div id="side">

            </div>
            <div id="content">
                <img src="/img/hello.jpg" style="width:700px; display:block;">
            </div>
        </div>

    </div>


</body>

</html>