<form action="/user/delete/<%= userID %>" method="POST">
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="pwd">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>